<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app">
    <h1>Todo with vue.js</h1>

    <label v-for="label in options">
      <input type="radio"
        v-model="current"
        v-bind:value="label.value">
      {{ label.label }}
    </label>
    <table>
      <thead>
      <tr v-for="tree in trees">
        <th @click=setNumTab(tree.id) :class="[tree.id === numTab ? 'under_bar' : '']" :class="tree.class">{{ tree.text }}</th>
      </tr>
      </thead>
      <tbody>
      <!-- ここにtrでTodoのdataを一行づつひょうじしたい -->
      <tr v-for="item in todos" v-bind:key="item.id">
        <th>{{ item.id }}</th>
        <th>{{ item.comment }}</th>
        <td class="state">
          <button v-on:click="doChangeState(item)">{{ item.state }}</button>
        </td>
        <td cllass="button" >
          <button @click='doRemove(item)'>削除</button>
        </td>
      </tr>
      </tbody>
    </table>

    <h2>新しい作業の追加</h2>
    <form class="add-form" v-on:submit.prevent="doAdd">
      <!-- コメント入力フォーム -->
      コメント <input type="text" ref="comment">
      <!-- 追加ボタンのモック -->
      <button type="submit">追加</button>
    </form>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>

</body>
</html>
